<title>Edit CP Conflict</title>

<h2 class="conflict">Conflict:</h2>
<p>Someone edited the CP at the same time you did. Please re-apply your changes to the CP.</P>

<h2>Edit CP:</h2>

<%= render 'form' %>