<title>Edit CP Conflict</title>

<p>Someone edited the CP at the same time you did. Please re-apply your changes to the product.</P>

<h2>Your Submission:</h2>
<pre>
<% params[:critical_process].each do |name, value| %>
  <%= h name.humanize %>: <%= h value %>
<% end %>
</pre>

<h2>Edit Product:</h2>

<%= render 'form' %>