
<h1 style="margin-bottom:0">
  <span style="font:normal 34px Verdana,Helevetica;color:#234C51;text-transform:lowercase">
  The IVI Team
  </span>
</h1>


<p>Hi <%= @user.name %>,</p>

<p>This is an automated email to notify you of a new version created for <%= @cp.cp_title %>, which you hold a role for,
  click <%= link_to "here", critical_process_url(@cp) %> to go see the new version.</p>

<p>Thanks,</p>
<p>The IVI Team</p>

