var key_term_line = "";
key_term_line += "<%= escape_javascript( check_box_tag 'critical_process[key_term_ids][]', "#{@key_term.id.to_i}", true, :id => 'critical_process_key_term_ids_' ) %>";
key_term_line += "<%= escape_javascript(@key_term.term )%>";

$("#new_key_term_dialog").dialog("close");
$("#key_term_list").append($("<li></li>").html(key_term_line));
$('#key_term_term').val("");
$('#key_term_meaning').val("");