<div id='index_home_page'>

<h1>IT-CMF Home Page</h1>


<div id="macro_processes_container">
<% @macro_processes.each do |macro_process| %>
    <div id="<%= macro_process.name %>_container" class="index_macro_container">
      <span><h3><%= macro_process.name %></h3></span><br/>
      <% macro_process.critical_processes.each do |cp| %>

          <%= link_to cp.cp_title, cp %> <br/>
      <% end %>

    </div>
<% end %>
</div>
<br/>

<%= link_to 'New Macro process', new_macro_process_path %>
</div>